@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 80px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header-right{
  display: flex;
  gap: 30px;
}

/* HERO SECTION */

.hero-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url('../public/hero-background.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

.hero-section-left h2{
  font-size: 6vmin;
  text-transform: uppercase;
}

.hero-section-left h2 span{
  color: #45D203;
}

.hero-section-right{
  width: 500px;
  height:300px;
  background-color: rgb(15, 112, 202);
}


.hero-section-bottom{
  position: relative;
  top: -120px;
  left: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
}

.hero-section-bottom-left,.hero-section-bottom-middle, .hero-section-bottom-right{
  padding: 0px 20px;
  text-align: center;
}

.hero-section-bottom-left,.hero-section-bottom-middle{
  border-right: 2px solid black;
}

/* FEATURE SECTION */


.feature-section{
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
}


.feature-card{
  border-right: 1px solid gray;
  text-align: center;
  width: 400px;
  padding-right: 20px;
}

.feature-icon{
  color: #45D203;
}


.feature-section-bottom{
  text-align: center;
  padding:50px 40px;
  width: 100%;
  color: #585858;
}

.feature-section-bottom h2{
  margin-bottom: 10px;
  font-size: 30px;
  text-transform: uppercase;
}

/* SERVICE SECTION */


.service-section{
  padding: 20px;
}

.service-section h2{
  font-size: 30px;
  margin-bottom: 30px;
}


.service-main{
  display: flex;
  gap: 20px;
}


.service-card{
  display: flex;
  gap: 10px;
  margin: 10px 0px;
}


.service-card h4{
  color: #216900;
  font-size: 20px;
  text-transform: uppercase;
}


.service-card p{
  font-size: 14px;
}


.service-section-bottom{
  padding: 30px 0px;
}

.service-section-b-cards{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.service-section-b-card h2{
  background-color: #4A7437;
  color: #FFFFFF;
  padding: 10px 20px;
}

.service-section-b-para{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  margin-top: -30px;
  background-color: #D5F2C8;
  padding:40px;
}

/* CHOOSE SECTION */


.choose-section{
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}


.choose-text-para{
  font-size: 15px;
  margin-top: 10px;
}


/* ONE WAY CLUB */

.one-way-club-section{
  padding: 40px 0px;
}

.one-way-club-section h2{
color: #216900;
text-align: center;
font-size: 30px;
}

.one-way-club-cards{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}

.one-way-club-card{ 
  width: 400px;
  height: 200px;
  padding: 20px;
  background: #F2EFEF;
  border-radius: 10px;
  border: 1px solid #D9D9D9;
}

.one-way-club-card ul{
  padding: 10px;
}   

.one-way-club-card ul li{
  margin: 10px 0px;
}

.one-way-club-card-img img{
  width: 400px;
  height: 200px;
  border-radius: 10px;
  background-color: #ffffff;
 
}       


.one-way-club-features-text{
  margin-top: 20px;
  text-align:center ;
  padding:0px 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  color: #71766F;
}

/* FAQ SECTION  */

.faq-section{
  padding: 40px 20px;
}

.faq-head{
  text-align: center;
  padding: 20px 0px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #216900;
  color: #FFFFFF;
  border-radius: 10px;
  margin: 20px 0px;
}

.faq-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 40px;
  background-color: #F1F2F5;
  border-radius: 10px;
  margin: 20px 0px;

}

.faq-content ul{
  list-style: circle;
} 

.faq-content ul li{
  margin: 10px 0px;
}


/* FOOTER SECTION */    


.footer {
  background-color: #000;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-logo img {
  width: 120px;
  margin-bottom: 10px;
}

.footer-nav {
  margin: 10px 0;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.newsletter input[type="email"] {
  padding: 8px;
  border: none;
  border-radius: 20px 0 0 20px;
  outline: none;
  width: 200px;
  margin-left: 10px;
  border: 1px solid #fff;

}

.newsletter button {
  padding: 8px 15px;
  border: none;
  border-radius: 0 20px 20px 0;
  background-color: #000;
  color: white;
  cursor: pointer;
  border: 1px solid #fff;
}

.newsletter button:hover {
  background-color: #007EA7;
}

.copyright {
  margin-top: 10px;
  font-size: 12px;
}